@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
div#side-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  flex-direction: column;
  gap: 5vh;
  width: 270px;
  height: 100vh;
  background-color: #b84d50;
  transition: 1s;
}
@media (min-width: 768px) {
  div#side-menu {
    display: flex !important;
  }
}
div#side-menu a {
  display: block;
}
div#side-menu a div.my-initials {
  height: 25vh;
  display: flex;
}
div#side-menu a div.my-initials > div.initial-F-Container {
  height: 100%;
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
}
div#side-menu a div.my-initials > div.initial-F-Container div {
  height: 50%;
  border: double 10px;
  border-top-color: azure;
  border-right: none;
  border-left-color: azure;
  border-bottom-color: azure;
}
div#side-menu a div.my-initials > div.initial-F-Container div.initial-F-bottom {
  border-bottom-style: none;
}
div#side-menu a div.my-initials > div.initial-T-Container {
  height: 100%;
  width: 66.6666666667%;
  display: flex;
}
div#side-menu a div.my-initials > div.initial-T-Container div {
  height: 50%;
  border: double 10px;
  border-bottom: none;
  border-top-color: azure;
}
div#side-menu a div.my-initials > div.initial-T-Container div.initial-T-left {
  width: 50%;
  height: 100%;
  border-left: none;
  border-right-color: azure;
}
div#side-menu a div.my-initials > div.initial-T-Container div.initial-T-right {
  width: 50%;
  height: 100%;
  border-left-color: azure;
  border-right: none;
}
div#side-menu nav {
  border-left: double #b84d50 10px;
  border-right: double #b84d50 10px;
}
div#side-menu nav ul {
  list-style-type: none;
  list-style-position: outside;
  background-color: azure;
  height: 50vh;
}
div#side-menu nav ul li {
  height: 10vh;
  display: flex;
  align-items: center;
}
div#side-menu nav ul li a {
  text-decoration: none;
  color: #b84d50;
  font-size: 1.15rem;
  font-weight: 200;
  transition: 0.3s;
}
div#side-menu nav ul li a:hover {
  transform: scale(1.2);
  font-weight: 600;
}
div#side-menu div#social-media-links {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
div#side-menu div#social-media-links > a {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: azure;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
}
div#side-menu div#social-media-links > a:hover {
  transform: scale(1.5);
}
div#side-menu div#social-media-links > a:nth-child(2) {
  margin: 0 20px;
}
div#side-menu div#social-media-links > a span {
  color: #b84d50;
}

div#banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: azure;
  color: #b84d50;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  div#banner {
    right: -135px;
  }
}
div#banner > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
div#banner b {
  height: 40vh;
  font-size: 2rem;
}
div#banner strong {
  height: 30vh;
  font-size: 1rem;
}
div#banner div {
  position: relative;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div#banner div p small.scroll-info {
  transition: 0.3s;
  font-size: 1rem;
  font-weight: 400;
  color: #4d1f20;
  visibility: hidden;
}
div#banner div a {
  display: inline-block;
  text-decoration: none;
  color: #b84d50;
}
div#banner div a span.glyphicon {
  display: block;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 4rem;
  font-weight: 400;
}
div#banner div a span.glyphicon::before {
  margin-left: -2px;
}
div#banner div a span.glyphicon:hover {
  color: #b84d50;
  background-color: azure;
  transition: 1s;
  transform: scale(2);
}
@media (min-width: 576px) {
  div#banner {
    min-width: 345px;
  }
  div#banner b {
    font-size: 5rem;
  }
  div#banner strong {
    font-size: 3rem;
  }
}

div#my-portfolio {
  display: flex;
  flex-direction: column;
}
div#my-portfolio h2 {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  color: #b84d50;
  font-weight: 600;
  font-size: 4rem;
}
div#my-portfolio p.lead {
  text-align: center;
}
div#my-portfolio a.clickable-tech-link {
  background-color: antiquewhite;
  padding: 0.2rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
div#my-portfolio p, div#my-portfolio dt, div#my-portfolio dl {
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  margin-left: 0;
  color: black;
}
div#my-portfolio dl {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
@media screen and (width > 576px) {
  div#my-portfolio dl {
    padding: 2rem;
  }
}
div#my-portfolio dl dt {
  margin-top: 30px;
  padding: 0.5rem 0;
  font-size: 2rem;
  font-weight: 900;
  color: #b84d50;
}
div#my-portfolio dl dd {
  margin-left: 0;
  margin-bottom: 15px;
}
div#my-portfolio dl p {
  border: none;
  margin: 1rem 0;
}
@media screen and (width > 576px) {
  div#my-portfolio dl p {
    padding-left: 3rem;
  }
}
div#my-portfolio dl p span {
  color: black;
}
div#my-portfolio p {
  line-height: 1.5rem;
}
div#my-portfolio div#portfolio-list-of-projects {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  div#my-portfolio div#portfolio-list-of-projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2%;
  }
  div#my-portfolio div#portfolio-list-of-projects a {
    width: 49%;
  }
}
div#my-portfolio div#portfolio-list-of-projects a {
  display: block;
  opacity: 0.85;
  transform: scale(0.75);
}
div#my-portfolio div#portfolio-list-of-projects a figure {
  width: 100%;
  margin: auto;
  outline: solid 10px #b84d50;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#my-portfolio div#portfolio-list-of-projects a figure img {
  max-width: 100%;
  padding-bottom: 20px;
}
div#my-portfolio div#portfolio-list-of-projects a figure figcaption {
  border-top: solid 5px #b84d50;
  font-family: "Spline Sans", sans-serif;
  padding: 10px;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  line-height: 1.25;
  color: black;
  background-color: #f9f1f1;
}
div#my-portfolio div#portfolio-list-of-projects a:hover {
  opacity: 1;
  transform: scale(1);
}

body {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  overflow-x: hidden;
  color: azure;
}
body button#hamburger-button {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 600;
  width: 45px;
  height: 45px;
  padding: 5px 15px;
  border: double 5px #b84d50;
  outline: none;
  color: #b84d50;
  line-height: 46px;
  user-select: none;
  appearance: button;
  display: block;
}
body button#hamburger-button * {
  transition: 0.5s;
}
@media (min-width: 768px) {
  body button#hamburger-button {
    display: none;
  }
}
body button#hamburger-button span.hamburger-box {
  display: block;
  width: 23px;
  height: 7px;
  position: relative;
  font-size: 1.438rem;
  line-height: 45px;
}
body button#hamburger-button span.hamburger-box span.hamburger-inner {
  width: 23px;
  height: 3.8px;
  position: absolute;
  top: 50%;
  left: -35%;
  transition-property: transform;
  background-color: #b84d50;
  border-radius: 0;
  display: block;
  margin-top: -1.5px;
}
body button#hamburger-button:hover {
  background-color: #d59698;
  border: solid 5px #b84d50;
}
body button#hamburger-button:hover span.hamburger-box span.hamburger-inner {
  background-color: azure;
}
body .container {
  padding: 0 50px;
}
@media (min-width: 768px) {
  body .container {
    margin-left: 270px;
  }
}

/*# sourceMappingURL=application.css.map */
