div.warning-message {
  display: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: hsl(348, 100%, 61%);
  transition: 1s;
}
div.warning-message#success-message {
  background-color: #00bdbd;
  justify-content: center;
}
div.warning-message p {
  color: azure;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25rem;
}
div.warning-message p span.lead-sentence {
  display: block;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  color: azure;
  font-weight: 600;
}
div.warning-message ul {
  list-style-type: square;
  line-height: 1.5rem;
  width: 50%;
  margin: 0 auto;
  border: solid 5px azure;
  padding: 30px;
}
div.warning-message ul li {
  font-size: 1.25rem;
  color: azure;
}
@media (min-width: 768px) {
  div.warning-message p {
    display: flex;
    justify-content: center;
  }
  div.warning-message p span.lead-sentence {
    width: 100%;
  }
}

div#side-menu-support {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  width: calc(100% - 270px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
div#side-menu-support.slide-in {
  display: block;
  animation: side-menu-support-slide-in 1s ease-in-out;
}
div#side-menu-support.slide-out {
  animation: side-menu-support-slide-out 1s ease-in-out;
}

div#side-menu {
  display: none;
  filter: sepia(25%);
  filter: hue-rotate(10deg);
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  flex-direction: column;
  gap: 5vh;
  width: 270px;
  height: 100vh;
  background-color: #b84d50;
}
div#side-menu.slide-in {
  display: block;
  animation: side-menu-slide-in 1s ease-in-out;
}
div#side-menu.slide-out {
  animation: side-menu-slide-out 1s ease-in-out;
}
div#side-menu a {
  display: block;
}
div#side-menu a div.my-initials {
  height: 25vh;
  display: flex;
}
div#side-menu a div.my-initials > div.initial-F-Container {
  height: 100%;
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
}
div#side-menu a div.my-initials > div.initial-F-Container div {
  height: 50%;
  border: double 10px;
  border-top-color: #d7ffff;
  border-right: none;
  border-left-color: #d7ffff;
  border-bottom-color: #d7ffff;
}
div#side-menu a div.my-initials > div.initial-F-Container div.initial-F-bottom {
  border-bottom-style: none;
}
div#side-menu a div.my-initials > div.initial-T-Container {
  height: 100%;
  width: 66.6666666667%;
  display: flex;
}
div#side-menu a div.my-initials > div.initial-T-Container div {
  height: 50%;
  border: double 10px;
  border-bottom: none;
  border-top-color: #d7ffff;
}
div#side-menu a div.my-initials > div.initial-T-Container div.initial-T-left {
  width: 50%;
  height: 100%;
  border-left: none;
  border-right-color: #d7ffff;
}
div#side-menu a div.my-initials > div.initial-T-Container div.initial-T-right {
  width: 50%;
  height: 100%;
  border-left-color: #d7ffff;
  border-right: none;
}
div#side-menu nav {
  border-left: double #b84d50 10px;
  border-right: double #b84d50 10px;
}
div#side-menu nav ul {
  list-style-type: none;
  list-style-position: outside;
  background-color: #d7ffff;
  height: 50vh;
}
div#side-menu nav ul li {
  height: 10vh;
  display: flex;
  align-items: center;
}
div#side-menu nav ul li a {
  text-decoration: none;
  color: #b84d50;
  font-size: 1.15rem;
  font-weight: 200;
  transition: 0.5s;
}
div#side-menu nav ul li a:hover {
  font-weight: 600;
}
div#side-menu div#social-media-links {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
div#side-menu div#social-media-links > a {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #d7ffff;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
}
div#side-menu div#social-media-links > a:hover {
  transform: scale(1.5);
}
div#side-menu div#social-media-links > a:nth-child(2) {
  margin: 0 20px;
}
div#side-menu div#social-media-links > a span {
  color: #b84d50;
}

@keyframes side-menu-slide-in {
  0% {
    left: -270px;
  }
  100% {
    left: 0;
  }
}
@keyframes side-menu-slide-out {
  0% {
    left: 0;
  }
  100% {
    left: -270px;
  }
}
@keyframes side-menu-support-slide-in {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes side-menu-support-slide-out {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
div#banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: azure;
  min-height: 100vh;
  background-image: url("../assets/images/helloIphone.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: sepia(25%);
  filter: hue-rotate(10deg);
  color: #b84d50;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div#banner > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
div#banner b {
  height: 40vh;
  font-size: 2rem;
  transition: 0.3s;
  text-shadow: -1px -1px 2px white, 3px 3px 2px #4d1f20;
}
div#banner strong {
  height: 30vh;
  font-size: 1rem;
  transition: 0.3s;
  text-shadow: -1px -1px 2px white, 1px 1px 2px black;
}
div#banner div#scroll-down {
  position: relative;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div#banner div#scroll-down a {
  display: inline-block;
  text-decoration: none;
  color: #b84d50;
}
div#banner div#scroll-down a span.glyphicon {
  display: block;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 4rem;
  font-weight: 400;
  background-color: #bdffff;
  text-shadow: -1px -1px 2px white, 1px 1px 2px #4d1f20;
}
div#banner div#scroll-down a span.glyphicon::before {
  margin-left: -2px;
}
div#banner div#scroll-down a span.glyphicon:hover {
  color: #b84d50;
  background-color: azure;
  transition: 1s;
  transform: scale(1.5);
  background-color: #8affff;
}
@media (min-width: 576px) {
  div#banner {
    min-width: 345px;
  }
  div#banner b {
    font-size: 5rem;
  }
  div#banner strong {
    font-size: 3rem;
  }
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto 30px 0;
  text-align: center;
  color: #b84d50;
  font-weight: 600;
  font-size: 2.5rem;
}
h2.homepage-heading {
  margin-bottom: 5rem;
  padding: 35px 0;
}
@media (min-width: 768px) {
  h2 {
    font-size: 4rem;
    padding: 30px 0;
  }
  h2.homepage-heading {
    margin-bottom: 5rem;
    padding: 90px 0;
  }
}

div#about-me {
  background-color: red;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  div#about-me div.about-me-container {
    margin: 0 auto;
    padding: 0 30px;
  }
}
div#about-me div.about-me-container {
  width: 70%;
  padding: 0 30px;
}
div#about-me div.about-me-container * {
  text-align: center;
  color: black;
}
div#about-me div.about-me-container strong {
  display: block;
  margin: 2rem auto;
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 100%;
}
div#about-me div.about-me-container span.waving-hand {
  display: inline-block;
  animation: wave 5s;
}
div#about-me div.about-me-container p {
  font-size: 0.8rem;
  text-align: justify;
  line-height: 1.5rem;
}
@media screen and (min-width: 922px) {
  div#about-me div.about-me-container p {
    text-align: center;
  }
}
div#about-me div.about-me-container footer {
  margin: 2rem auto 0;
  padding: 0.5rem;
}
div#about-me div.about-me-container footer small {
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  div#about-me div.about-me-container strong {
    font-size: 150%;
  }
  div#about-me div.about-me-container p {
    font-size: 100%;
  }
  div#about-me div.about-me-container footer {
    padding-top: 3rem;
  }
  div#about-me div.about-me-container footer small {
    font-size: 1rem;
    color: #5e6480;
  }
}
div#about-me article#certification-links {
  margin: 4rem auto 1rem;
  display: flex;
  flex-direction: column;
}
div#about-me article#certification-links h6 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}
div#about-me article#certification-links div.sm-icons-container a {
  display: inline-block;
  text-align: center;
  margin: 0 1rem;
  padding: 0.1rem;
}
div#about-me article#certification-links div.sm-icons-container a img {
  width: 2rem;
  height: 2rem;
}

@keyframes wave {
  0% {
    transform: rotate(100deg);
  }
  10% {
    transform: scale(2);
  }
  30% {
    transform: rotate(60deg);
  }
  45% {
    transform: scale(1);
  }
  55% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(40deg);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: rotate(0deg);
  }
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto 30px 0;
  text-align: center;
  color: #b84d50;
  font-weight: 600;
  font-size: 2.5rem;
}
h2.homepage-heading {
  margin-bottom: 5rem;
  padding: 35px 0;
}
@media (min-width: 768px) {
  h2 {
    font-size: 4rem;
    padding: 30px 0;
  }
  h2.homepage-heading {
    margin-bottom: 5rem;
    padding: 90px 0;
  }
}

div#my-portfolio {
  display: flex;
  flex-direction: column;
}
div#my-portfolio a.clickable-tech-link {
  padding: 0.2rem 0.4rem;
  color: black;
  font-weight: 600;
}
@media (min-width: 992px) {
  div#my-portfolio a.clickable-tech-link {
    background-color: antiquewhite;
    line-height: 1.5rem;
  }
}
div#my-portfolio p, div#my-portfolio dt, div#my-portfolio dl {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  margin-left: 0;
  color: black;
}
@media (min-width: 768px) {
  div#my-portfolio p.lead, div#my-portfolio dt.lead, div#my-portfolio dl.lead {
    text-align: center;
  }
}
div#my-portfolio dl {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (min-width: 576px) {
  div#my-portfolio dl {
    padding: 2rem;
  }
}
@media (min-width: 768px) {
  div#my-portfolio dl {
    width: 80%;
    margin: auto;
    align-items: center;
  }
}
div#my-portfolio dl dt {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0.5rem 0;
  font-size: 2rem;
  font-weight: 900;
  color: #b84d50;
}
div#my-portfolio dl dd {
  margin-left: 0;
  margin-bottom: 0.5rem;
}
div#my-portfolio dl dd a.clickable-tech-link {
  padding: 0.2rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
div#my-portfolio p {
  line-height: 1.5rem;
}
div#my-portfolio div#portfolio-list-of-projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
@media (min-width: 992px) {
  div#my-portfolio div#portfolio-list-of-projects {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5%;
  }
  div#my-portfolio div#portfolio-list-of-projects a {
    width: 700px;
    height: 300px;
  }
}
div#my-portfolio div#portfolio-list-of-projects a {
  display: block;
  opacity: 0.85;
  transform: scale(0.75);
  transition: 0.5s;
}
div#my-portfolio div#portfolio-list-of-projects a figure {
  width: 100%;
  margin: auto;
  outline: solid 10px #b84d50;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#my-portfolio div#portfolio-list-of-projects a figure img {
  max-width: 100%;
  padding-bottom: 20px;
}
div#my-portfolio div#portfolio-list-of-projects a figure figcaption {
  border-top: solid 5px #b84d50;
  font-family: "Spline Sans", sans-serif;
  padding: 10px;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  line-height: 1.25;
  color: black;
  background-color: #f9f1f1;
}
div#my-portfolio div#portfolio-list-of-projects a figure:hover {
  background-color: #d7ffff;
}
div#my-portfolio div#portfolio-list-of-projects a:hover {
  opacity: 1;
  transform: scale(1);
  background-color: #d7ffff;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto 30px 0;
  text-align: center;
  color: #b84d50;
  font-weight: 600;
  font-size: 2.5rem;
}
h2.homepage-heading {
  margin-bottom: 5rem;
  padding: 35px 0;
}
@media (min-width: 768px) {
  h2 {
    font-size: 4rem;
    padding: 30px 0;
  }
  h2.homepage-heading {
    margin-bottom: 5rem;
    padding: 90px 0;
  }
}

div#code-examples {
  position: relative;
}
div#code-examples h2 {
  margin-bottom: 3rem;
  padding: 0;
}
div#code-examples div#code-examples-main-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#code-examples div#code-examples-main-container *:not(span) {
  width: 100%;
}
div#code-examples div#code-examples-main-container > div {
  flex-grow: 1;
}
div#code-examples div#code-examples-main-container div#problem-solution-selector * {
  font-size: 0.6rem;
  font-weight: 400;
}
div#code-examples div#code-examples-main-container div#problem-solution-selector p {
  font-size: 1rem;
  text-align: justify;
  width: 80%;
  margin-top: -3rem;
  margin-bottom: 2rem;
  margin: auto;
  color: black;
  line-height: 1.5rem;
}
@media (min-width: 992px) {
  div#code-examples div#code-examples-main-container div#problem-solution-selector p {
    text-align: center;
  }
}
div#code-examples div#code-examples-main-container div#problem-solution-selector p strong.info {
  padding: 0 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #1a1a1a;
}
div#code-examples div#code-examples-main-container div#problem-solution-selector div#solutions-tags-container {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.25rem;
}
div#code-examples div#code-examples-main-container div#problem-solution-selector div#solutions-tags-container span.tag {
  display: inline-block;
  width: 4rem;
  padding: 0.25rem;
  text-align: center;
  background-color: #b84d50;
  box-shadow: inset #554949 0px 0px 0.1rem;
  border-radius: 0.2rem;
  color: white;
  font-weight: 900;
  cursor: pointer;
  transition: 0.5s;
}
div#code-examples div#code-examples-main-container div#problem-solution-selector div#solutions-tags-container span.tag:hover {
  background-color: rgb(30, 26, 26);
  color: white;
}
div#code-examples div#code-examples-main-container div#projects-container {
  position: relative;
  z-index: 0;
  width: 275px;
  height: 275px;
  margin-top: 10px;
  border: solid #b84d50 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d59698;
  box-shadow: inset #c77174 2px 2px 5px, inset #c77174 -2px -2px 5px;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div.child {
  width: 45%;
  height: 50%;
  background-color: #b84d50;
  display: inline-flex;
  color: white;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div.child:first-child {
  margin-right: 2%;
  border-top-left-radius: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div.child:nth-child(2) {
  border-top-right-radius: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top {
  width: 48%;
  height: 48%;
  position: relative;
  z-index: 5;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset #963c3e 2px 2px 5px, inset #963c3e -2px -2px 5px;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top:hover {
  background: black;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top p.project-name {
  font-size: 0.6rem;
  font-weight: 600;
  color: #e4babc;
  text-align: center;
  user-select: none;
  pointer-events: none;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top p.project-name:hover {
  color: #f2dfdf;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top span.back {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  color: #b84d50;
  font-weight: 900;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top span.back:hover {
  transform: scale(1.2);
  color: #d59698;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top span.close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: none;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: 600;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #b84d50;
  text-shadow: black -2px -2px 5px, black 2px 2px 5px;
  transition: 0.5s;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top span.close:hover {
  font-style: normal;
  transform: scale(1.2);
  padding-bottom: 0.2rem;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top div.examples-list-container, div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top div.example {
  display: none;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child {
  position: relative;
  border-radius: 0 0 137.5px 137.5px;
  width: 100%;
  height: 137.5px;
  margin: auto;
  background-color: #b84d50;
  transition: 0.5s;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: inset #963c3e 2px 2px 5px, inset #963c3e -2px -2px 5px;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child:hover {
  background: black;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child p.project-name {
  margin-top: 0;
  padding: 0;
  user-select: none;
  pointer-events: none;
  font-size: 0.6rem;
  font-weight: 600;
  color: #e4babc;
  text-align: center;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child p.project-name:hover {
  color: #f2dfdf;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child span.back {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  color: #b84d50;
  font-weight: 900;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child span.back:hover {
  transform: scale(1.2);
  color: #d59698;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child span.close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: none;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: 600;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #b84d50;
  text-shadow: black -2px -2px 5px, black 2px 2px 5px;
  transition: 0.5s;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child span.close:hover {
  font-style: normal;
  transform: scale(1.2);
  padding-bottom: 0.2rem;
}
div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child div.examples-list-container, div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child div.example {
  display: none;
}
div#code-examples div#code-examples-main-container div#projects-container .front {
  position: fixed !important;
  top: 5%;
  z-index: 10 !important;
  background-color: #1a1a1a !important;
  width: 80% !important;
  height: 93% !important;
  margin: auto !important;
  border-radius: 5px !important;
  box-shadow: inset #c77174 2px 2px 5px, inset #c77174 -2px -2px 5px;
  flex-direction: column !important;
  justify-content: flex-start !important;
  overflow-y: auto;
  scrollbar-color: azure #1a1a1a;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
div#code-examples div#code-examples-main-container div#projects-container .front p.project-name {
  display: none !important;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container {
  display: block !important;
  width: 60%;
  margin: 30px auto 0 auto;
  cursor: auto;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container:last-child {
  margin-bottom: 60px;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container p.h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #b84d50;
  user-select: none;
  pointer-events: none;
  cursor: none !important;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.html, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.css, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.js, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.php, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.sql {
  list-style-type: none;
  padding: 0;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.html li.examples-link, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.css li.examples-link, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.js li.examples-link, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.php li.examples-link, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.sql li.examples-link {
  margin-bottom: 15px;
  cursor: pointer;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.html li.examples-link:hover, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.css li.examples-link:hover, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.js li.examples-link:hover, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.php li.examples-link:hover, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.sql li.examples-link:hover {
  text-decoration: underline;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.html li.nested, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.css li.nested, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.js li.nested, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.php li.nested, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.sql li.nested {
  list-style-type: square;
  list-style-position: inside;
  line-height: 20px;
  color: azure;
  text-decoration: none;
  cursor: auto;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.html li.nested::marker, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.css li.nested::marker, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.js li.nested::marker, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.php li.nested::marker, div#code-examples div#code-examples-main-container div#projects-container .front div.examples-list-container ul.sql li.nested::marker {
  color: #b84d50;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.example {
  width: 80%;
  max-height: 90%;
  margin: 30px auto 0 auto;
  color: azure;
  overflow-y: auto;
  scrollbar-color: azure #1a1a1a;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.example p {
  margin: 60px 0;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.example p a.accordion-control, div#code-examples div#code-examples-main-container div#projects-container .front div.example p span.glyphicon {
  text-decoration: none;
  color: azure;
  font-weight: 600;
  transition: 0.5s;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.example p a.accordion-control:hover, div#code-examples div#code-examples-main-container div#projects-container .front div.example p span.glyphicon:hover {
  color: #d59698;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.example div.accordion {
  display: none;
  transition: 0.5s;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.example div.accordion img {
  max-width: 100%;
  margin: auto;
  margin-bottom: 60px;
  border-radius: 5px !important;
  border: solid lightgray 10px;
  transition: 0.5s;
}
div#code-examples div#code-examples-main-container div#projects-container .front div.example div.accordion img.chestnut {
  border-color: #b84d50;
}
@media (min-width: 768px) {
  div#code-examples div#code-examples-main-container div#projects-container .front div.example div.accordion img.small {
    max-width: 50%;
  }
}
@media (min-width: 375px) {
  div#code-examples div#code-examples-main-container div#projects-container {
    width: 305px;
    height: 305px;
    margin-top: 15px;
    box-shadow: inset #c77174 2px 2px 5px, inset #c77174 -2px -2px 5px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent {
    width: 305px;
    height: 305px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div.child:first-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div.child:nth-child(2) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top {
    box-shadow: inset #963c3e 2px 2px 5px, inset #963c3e -2px -2px 5px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top p.project-name {
    font-size: 0.75rem;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child {
    border-radius: 0 0 152.5px 152.5px;
    height: 152.5px;
    box-shadow: inset #963c3e 2px 2px 5px, inset #963c3e -2px -2px 5px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child:hover {
    background: black;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child p.project-name {
    font-size: 0.75rem;
  }
  div#code-examples div#code-examples-main-container div#projects-container .front {
    border-radius: 5px !important;
    box-shadow: inset #c77174 2px 2px 5px, inset #c77174 -2px -2px 5px;
  }
}
@media (min-width: 768px) {
  div#code-examples div#code-examples-main-container div#projects-container {
    width: 457.5px;
    height: 457.5px;
    margin-top: 22.5px;
    box-shadow: inset #c77174 2px 2px 10px, inset #c77174 -2px -2px 10px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent {
    width: 457.5px;
    height: 457.5px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div.child:first-child {
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div.child:nth-child(2) {
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top {
    box-shadow: inset #963c3e 2px 2px 7.5px, inset #963c3e -2px -2px 7.5px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top p.project-name {
    font-size: 1rem;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child {
    border-radius: 0 0 228.75px 228.75px;
    height: 228.75px;
    box-shadow: inset #963c3e 2px 2px 7.5px, inset #963c3e -2px -2px 7.5px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child:hover {
    background: black;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child p.project-name {
    font-size: 1rem;
  }
  div#code-examples div#code-examples-main-container div#projects-container .front {
    border-radius: 7.5px !important;
    box-shadow: inset #c77174 2px 2px 7.5px, inset #c77174 -2px -2px 7.5px;
  }
}
@media (min-width: 1220px) {
  div#code-examples div#code-examples-main-container div#projects-container {
    width: 610px;
    height: 610px;
    margin-top: 30px;
    box-shadow: inset #c77174 2px 2px 15px, inset #c77174 -2px -2px 15px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent {
    width: 610px;
    height: 610px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div.child:first-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div.child:nth-child(2) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top {
    box-shadow: inset #963c3e 2px 2px 15px, inset #963c3e -2px -2px 15px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div.child.top p.project-name {
    font-size: 1.5rem;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child {
    border-radius: 0 0 305px 305px;
    height: 305px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: inset #963c3e 2px 2px 15px, inset #963c3e -2px -2px 15px;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child:hover {
    background: black;
  }
  div#code-examples div#code-examples-main-container div#projects-container div.parent div#bottom-child p.project-name {
    font-size: 1.5rem;
  }
  div#code-examples div#code-examples-main-container div#projects-container .front {
    border-radius: 10px !important;
    box-shadow: inset #c77174 2px 2px 15px, inset #c77174 -2px -2px 15px;
  }
}
div#code-examples div#code-examples-main-container div.coming-soon-playlist-container {
  margin-top: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#code-examples div#code-examples-main-container div.coming-soon-playlist-container img, div#code-examples div#code-examples-main-container div.coming-soon-playlist-container audio {
  max-width: 100%;
}
div#code-examples div#code-examples-main-container div.coming-soon-playlist-container img {
  margin: 1rem auto;
}
div#code-examples div#code-examples-main-container div.coming-soon-playlist-container audio {
  height: 1rem;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto 30px 0;
  text-align: center;
  color: #b84d50;
  font-weight: 600;
  font-size: 2.5rem;
}
h2.homepage-heading {
  margin-bottom: 5rem;
  padding: 35px 0;
}
@media (min-width: 768px) {
  h2 {
    font-size: 4rem;
    padding: 30px 0;
  }
  h2.homepage-heading {
    margin-bottom: 5rem;
    padding: 90px 0;
  }
}

div#scs {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  padding-top: 0;
}
div#scs div.article {
  flex: 1;
  width: 80%;
  margin: 1rem auto;
  text-align: justify;
  padding: 0.5rem;
  font-weight: 300;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  div#scs div.article {
    font-size: 1rem;
  }
}
div#scs div.article p {
  color: black;
  line-height: 1.5rem;
}
div#scs div.article p:first-letter {
  font-size: 200%;
  font-weight: 600;
  padding: 0;
  height: 5rem;
  color: #b84d50;
}
div#scs div.article ul {
  margin: 10px 0 0 0;
  list-style-type: square;
  list-style-position: outside;
}
div#scs div.article ul li {
  color: black;
  line-height: 1.5rem;
}
div#scs div.article footer {
  padding: 1rem 0;
}
div#scs div.article footer a {
  text-decoration: none;
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  box-shadow: inset rgb(210, 198, 198) 0px 0px 3rem;
  font-weight: 700;
  transition: 0.5s;
}
div#scs div.article footer a:hover {
  box-shadow: inset rgb(72, 67, 67) 0px 0px 1.5rem;
}
div#scs div.article footer a:hover span {
  color: #d60707;
}
div#scs div.article footer a span {
  flex-grow: 1;
  color: rgb(115, 4, 4);
  transition: 0.5s;
}
div#scs div.article footer a img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0 auto 30px 0;
  text-align: center;
  color: #b84d50;
  font-weight: 600;
  font-size: 2.5rem;
}
h2.homepage-heading {
  margin-bottom: 5rem;
  padding: 35px 0;
}
@media (min-width: 768px) {
  h2 {
    font-size: 4rem;
    padding: 30px 0;
  }
  h2.homepage-heading {
    margin-bottom: 5rem;
    padding: 90px 0;
  }
}

div#contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#contact-me div#enquiry-form {
  width: 100%;
  flex: 1;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div#contact-me div#enquiry-form form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
div#contact-me div#enquiry-form form div {
  width: 100%;
  margin: auto;
  padding: 0;
}
div#contact-me div#enquiry-form form div.contact-info-detail {
  padding: 0;
  display: flex;
  box-sizing: border-box;
}
div#contact-me div#enquiry-form form div.contact-info-detail label {
  min-width: 90px;
  width: 35%;
  padding: 0.2rem;
  color: #4d4d4d;
  align-self: center;
  font-size: 100%;
  font-weight: 700;
}
div#contact-me div#enquiry-form form div.contact-info-detail input {
  flex-grow: 1;
  margin: 0.2rem 0;
  border: 0;
  outline: 0;
}
div#contact-me div#enquiry-form form div input, div#contact-me div#enquiry-form form div textarea {
  padding: 0.5rem;
  background-color: lightgray;
  color: black;
  transition: 0.2s;
}
div#contact-me div#enquiry-form form div input:focus, div#contact-me div#enquiry-form form div textarea:focus {
  background-color: #545454;
  color: azure;
}
div#contact-me div#enquiry-form form div textarea {
  margin: 2rem 0 0 0;
  width: 100%;
  min-width: 285px;
  min-height: 10rem;
  height: 100%;
  color: black;
  border: 0;
  outline: 0;
  resize: vertical;
  max-height: 25rem;
}
div#contact-me div#enquiry-form form button {
  margin-top: 3rem;
  min-width: 285px;
  flex: 1;
  width: 100%;
  padding: 0.5rem;
  border: none;
  box-shadow: inset rgb(210, 198, 198) 0px 0px 1rem;
  border-radius: 3px;
  transition: 0.2s;
  font-variant: small-caps;
  font-size: 1.25rem;
  font-weight: 600;
}
div#contact-me div#enquiry-form form button:hover {
  background-color: #545454;
  color: azure;
}
@media screen and (min-width: 576px) {
  div#contact-me div#enquiry-form form {
    width: 60%;
  }
  div#contact-me div#enquiry-form form input {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  div#contact-me div#enquiry-form form input {
    width: 100%;
  }
}
@media screen and (min-width: 1260px) {
  div#contact-me div#enquiry-form {
    width: 80%;
  }
}
div#contact-me div#scroll-up {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div#contact-me div#scroll-up a {
  display: inline-block;
  text-decoration: none;
  color: #b84d50;
}
div#contact-me div#scroll-up a span.glyphicon {
  display: block;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 4rem;
  font-weight: 400;
}
div#contact-me div#scroll-up a span.glyphicon::before {
  margin-left: -2px;
}
div#contact-me div#scroll-up a span.glyphicon:hover {
  color: #b84d50;
  background-color: azure;
  transition: 1s;
  transform: scale(1.5);
  background-color: #8affff;
}

body {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  overflow-x: hidden;
}
body div#form-validation-messages-container {
  display: none;
  position: fixed;
  top: 0;
  z-index: 15;
  width: 100%;
  flex-direction: column;
}
body button#hamburger-button {
  filter: sepia(25%);
  filter: hue-rotate(10deg);
  display: block;
  position: fixed;
  top: 1px;
  right: 5px;
  z-index: 0;
  width: 45px;
  height: 45px;
  padding: 5px 18.5px;
  outline: none;
  border: none;
  color: #b84d50;
  line-height: 46px;
  user-select: none;
  background-color: white;
  transition: 0.5s;
  transform: scale(1.25);
}
body button#hamburger-button span.hamburger-box {
  display: block;
  width: 23px;
  height: 7px;
  position: relative;
  font-size: 1.438rem;
  line-height: 45px;
}
body button#hamburger-button span.hamburger-box span.hamburger-inner {
  width: 23px;
  height: 3.8px;
  position: absolute;
  top: 50%;
  left: -35%;
  transition: 0.5s;
  background-color: #b84d50;
  border-radius: 0;
  display: block;
  margin-top: -1.5px;
  border-radius: 30%;
}
body button#hamburger-button:hover span.hamburger-box span.hamburger-inner {
  background-color: #d59698;
  transform: scale(1.25);
  border-radius: 30%;
}
body div#main-content div.container {
  background-color: white;
  width: 80%;
  margin: 0 auto;
}

/*# sourceMappingURL=application.css.map */
