@import 
    "variables/index",
    "mixins/index",
    "main-sections/index"
;

body{
    position: relative;
    font: {
        family: "PT Sans", sans-serif;
        style: normal;
        size: 16px;
        weight: 400;
    }
    padding: 0;
    overflow-x: hidden;
    div#form-validation-messages-container{
        display: none;
        position: fixed;
        top: 0;
        z-index: $form-validation-messages-container_z-index;
        width: 100%;
        flex-direction: column;
    }
    button#hamburger-button{
        @include hamburger-button;
    }
    div#main-content{
        div.container{
            background-color: white;
        }
    }
    div#form-validation-messages-container, div#main-content div.container{
        @media (min-width: 768px){
            margin-left: 270px;
        }
    }
}