div#about-me{
    div{
        display: flex;
        nav{
            width: 324px;
            height: 100vh;
            border: solid black 5px;
            padding: 0;
            display: flex;
            flex-direction: column;
            div{
                margin: 0 0 70px 0;
                &.initials-icon{
                    a{
                        display: block;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            ul.main-nav{
                list-style-type: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                li{
                    height: 70px;
                    flex-grow: 1;
                    a{
                        text-decoration: none;
                        color: black;
                        font-weight: 600;
                    }
                    &:hover{
                        a{
                            color: $default-red;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            div.sm-links{
                display: flex;
                justify-content: space-evenly;
                gap: 10px;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        font-size: 1.2rem;
                        color: $default-red;
                    }
                }
            }
        }
        div.about-me.container{
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            @include section-heading;
            article.about-me{
                flex: 1;
                *{
                    text-align: center;
                }
                strong{
                    display: block;
                    margin: 2rem auto;
                    padding-bottom: 1rem;
                    font: {
                        // weight: 500;
                        size: 100%;
                    }
                }
                span.waving-hand{
                    display: inline-block;
                    animation: wave 5s;
                }
                p{
                    font-size: .8rem;
                    font-weight: 400;
                    text-align: justify;
                    @media screen and (min-width: 922px){
                        text-align: center;
                    }
                }
                big{
                    display: block;
                    font-size: .9rem;
                    // font-weight: 500;
                    text-align: center;
                    padding: 2rem;
                }
                footer{
                    margin: 2rem auto 0;
                    padding: .5rem;
                    small{
                        font-size: .8rem;
                        font-weight: 400;
                    }
                }
                @media screen and (min-width: 768px){
                    big, strong{
                        font-size: 150%;
                    }
                    p{
                        font-size: 100%;
                    }
                    footer{
                        padding-top: 3rem;
                        small{
                            font-size: 1rem;
                            font-weight: 400;
                            color: $light-base-text;
                        }
                    }
                }
            }
            article#certification-links{
                // margin: 1rem auto 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    font-size: .9rem;
                }
                div.sm-icons-container{
                    display: flex;
                    justify-content: space-evenly;
                    gap: 30px;
                    a{
                        display: inline-block;
                        text-align: center;
                        padding: .5rem;
                        img{
                            width: 2rem; 
                            height: 2rem;
                        }
                    }   
                }
            }
        }
    }
}