nav{
    width: 200px;
    height: 100vh;
    border: solid black 5px;
    padding: 0;
    display: none;
    flex-direction: column;
    div{
        margin: 0 0 70px 0;
        &.initials-icon{
            a{
                display: block;
                img{
                    width: 100%;
                }
            }
        }
    }
    ul.main-nav{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        li{
            height: 70px;
            flex-grow: 1;
            a{
                text-decoration: none;
                color: black;
                font-weight: 600;
            }
            &:hover{
                a{
                    color: $default-red;
                    font-size: 1.2rem;
                }
            }
        }
    }
    div.sm-links{
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        a{
            text-decoration: none;
            color: black;
            &:hover{
                font-size: 1.2rem;
                color: $default-red;
            }
        }
    }
}