@include section-heading;
div#scs{
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0 auto;
        padding-top: 0;
        // @include section-heading;
        div.article{
            flex: 1;
            @include scs-article;
        }
}