div#scs{
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0 auto;
        padding-top: 0;
        @media (min-width: 768px){
            margin-left: 270px;
        }
        @include section-heading;
        article{
            flex: 1;
            @include scs-article;
        }
}