@mixin section-heading{
    h2{
        display: block;
        width: 100%;
        margin: 1rem auto 2rem;
        padding: .5rem;
        text-align: center;
        font: {
            family: $bold-sans-serif;
            weight: 400;
            size: 2.5rem; 
        }
    }
}