@mixin hamburger-button{
    filter: sepia(25%); 
    filter: hue-rotate(10deg);
    display: block;
    position: fixed;
    top: 1px;
    right: 5px;
    z-index: $hamburger-menu_z-index;
    width: 45px;
    height: 45px;
    padding: 5px 18.5px;
    outline: none;
    border: none;
    color: $main-red;
    line-height: 46px;
    user-select: none;
    background-color: white;
    transition: .5s;
    transform: scale(1.25);
    span.hamburger-box{
        display: block;
        width: 23px;
        height: 7px;
        position: relative;
        font-size: 1.438rem;
        line-height: 45px;
        //transform from cross to hamburger & vise versa
        span.hamburger-inner{
            width: 23px;
            height: 3.8px;
            position: absolute;
            top: 50%;
            left: -35%;
            transition: .5s;
            background-color: $main-red;
            border-radius: 0;
            display: block;
            margin-top: -1.5px;
            border-radius: 30%;
        }
    }
    &:hover{
        span.hamburger-box{
            span.hamburger-inner{
                background-color: lighten($main-red, 20%);
                transform: scale(1.25);
                border-radius: 30%;
            }
        }
    }
}