@mixin portfolio-item-figcaption{
    max-width: 70%;
    margin: auto;
    padding: 1rem;
    text-align: justify;
    font-size: .6rem;
    font-weight: 300;
    background-color: white;
    text-shadow: red 0px .05px;
    font-weight: 600;
}